﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_WebHome.cshtml";
}

<body style="background-color:white;">
    <img src="~/img/inner-banner.jpg" />
    <table>
        <tr>
            <td width="100%" class="txtbd">
                <br>
                <strong>Profile</strong>
                <br>
                Unicorn Banking was incorporated in August 1994. As of March 31, 2018, the Bank had a nationwide distribution network 4,787 branches and 12,635 ATM's in 2,691 cities/towns.
            </td>
        </tr>
        <tr>
            <td>
                <strong>Awards</strong>
                <br>
                Our single-minded focus on product quality and service excellence has helped us garner the appreciation of both national and international organizations.
            </td>
        </tr>
        <tr>
            <td>
                <strong>Financial Information</strong>
                <br>
                All the facts and figures highlighting the rapid growth of Unicorn Banking over the last nine years.
            </td>
        </tr>
        <tr>
            <td>
                <strong>Citizen's Charter</strong>
                <br>
                Our Citizen's Charter offers relevant information about the products, facilities and services we provide.
            </td>
        </tr>
        <tr>
            <td>
                <strong>Corporate Governance</strong>
                <br>
                Unicorn Bank's Corporate Governance Policy has been adopted keeping in mind the importance of attaining fairness for all stakeholders, as well as achieving organizational efficiency.
            </td>
        </tr>

    </table>
</body>

