﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_WebHome.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
 

</head>
<body style="background-color:white;">
    @*<link href="~/css/ContactUs.css" rel="stylesheet" />
    @Html.Raw(TempData["Message"])


    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>

        </div>
        <div class="row">
            <div class="column">

                <img src="~/img/contacUs.png" />
            </div>
            <div class="column">
                <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
                    <label for="country">Country</label>
                    <select id="country" name="country" required>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." required style="height:170px"></textarea>

                    <a  href="http://localhost:54827/WebHome/Home"><input type="button" class="btn btn-default" value="Submit" style="background-color:#ae275f"></a>      
                </form>
            </div>
        </div>
    </div>*@




    <section id="contact">
  <div class="container">
    <div >
        <h3 style="color:#ae275f;font-family:LindenHill-Italic;margin-left:35%"><strong>Contact Us</strong></h3>
    </div>
	
	<div class="row">
	  <div class="col-md-5">
        <img src="~/img/contacUs.png" />
        
      </div>

        <div class="col-md-5" >

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="" value="" placeholder="Name" required style="border: 1px solid; border-color: #ae275f;">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="" value="" placeholder="E-mail" required style="border: 1px solid; border-color: #ae275f;">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="" value="" placeholder="Phone" required style="border: 1px solid; border-color: #ae275f;">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="" rows="3" placeholder="Message" required style="border: 1px solid; border-color: #ae275f;"></textarea>
                </div>

                <button class="btn btn-default" type="submit" name="button" style="background-color:#ae275f;color:white">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                </button>
            </form>
        </div>
    </div>
  </div>
</section>

</body>
    </html>


