﻿@model UnicornRetailBanking.Models.tbl_Account_1342268

@{
    ViewBag.Title = "AddCustomerAccount";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Raw(TempData["Message"])
        <body style="background-color:white">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="round">
                            <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                                <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                                    <h5 style="color:white; font-size:18px; font-family: Arial, Helvetica, sans-serif;"><i>Add Customer Account</i></h5>
                                </div>
                                <div class="panel-body">
                                    <p style="color:red; text-align:right">* Marks Fields Are Required</p>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Customer ID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                        @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -175px;" })
                                        @Html.EditorFor(model => model.Customer_id, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;", @placeholder = "Customer ID" } })
                                        @Html.ValidationMessageFor(model => model.Customer_id, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Account Type", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                        @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -168px;" })
                                        @Html.DropDownListFor(model => model.Accounttype_id, Model.lstAcc, "---Select---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Accounttype_id, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Deposit Amount($)", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                        @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -140px;" })
                                        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;", @placeholder = "Deposit Amount" } })
                                        @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })

                                    </div>


                                    <div class="form-group">

                                        <input type="submit" value="Create" style="background-color:#ae275f;color:white;font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                        <input type="reset" value="Reset" id="btnReset" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </body>
    }

  </html>


