﻿@model IEnumerable<UnicornRetailBanking.Models.sp_searchAccountfinal_1499077_Result>

@{
    ViewBag.Title = "SearchAccount";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Account/GetAccount",
                datatype: "Json",
                success: function (data) {
                    $.each(data, function (index, lstAccount) {
                        $('#drpAccount').append('<option value="' + lstAccount.Value + '">' + lstAccount.Text + '</option>');
                    });
                },
                error: function () {
                    alert('Error');
                }
            });
        });
        $(function () {
            $('input[name="type"]').on('click', function () {
                if ($(this).val() == 'CustomerID') {
                    $('#custSearch').show();
                    $('#drpSearch').show();
                    $('#btnSearch').show();
                    $('#ssnSearch').hide();
                }
                else {
                    $('#custSearch').hide();
                    $('#drpSearch').hide();
                    $('#btnSearch').show();
                    $('#ssnSearch').show();
                }
            });
        });
    </script>
</head>
<body style="background-color:white">
    @Html.Raw(TempData["Message"])
        @using (Html.BeginForm())
    {

            <div class="container" style="margin-top:5%;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="round">
                        <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                            <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                                <h5 style="color:white; font-size:18px; font-family: Arial, Helvetica, sans-serif;"><i>Search Customer Account</i></h5>
                            </div>
                            <div class="row" style="margin-top:1%">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <input type="radio" class="radio-inline" name="type" value="CustomerID" />Customer ID
                                    <input type="radio" class="radio-inline" name="type" value="AccountID" />Account ID
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" id="custSearch" style="display: none">
                                    <label style="font-family: arial, helvetica, sans-serif;">Customer ID</label>
                                    <input type="text" id="txtcust" name="Cust_ID" class="form-control" pattern="^(\d{9})$" title="Enter Valid CustomerID" placeholder="Customer ID" style="border: 1px solid;font-family: arial, helvetica, sans-serif; border-color: #ae275f;" hidden="hidden" />

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" id="drpSearch" style="display: none">
                                    <label id="lblsearch" style="font-family: arial, helvetica, sans-serif;">Account Type</label>
                                    <select id="drpAccount" name="Acc_typeID" hidden="hidden" class="form-control" style="border: 1px solid;font-family: arial, helvetica, sans-serif; border-color: #ae275f;">
                                        <option value="0">------Select-----</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" id="ssnSearch" style="display:none">
                                    <label id="lblsearch" style="font-family: arial, helvetica, sans-serif;">Account ID</label>
                                    <input type="text" id="txtssn" name="Acc_ID" class="form-control" style="font-family: arial, helvetica, sans-serif;border:1px solid;border-color:#ae275f" pattern="^(\d{11})$" title="Enter Valid Account ID" placeholder="Account ID" hidden="hidden">
                                </div>
                            </div>

                            <br />
                            <div class="row" style="margin-bottom:2%">
                                <div class="col-md-4"></div>

                                <div class="col-md-4">
                                    <input type="submit" id="btnSearch" class="btn btn-info" value="Search" style="display:none;color:white;background-color:#ae275f;font-family: arial, helvetica, sans-serif;">
                                </div>
                               
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
                    }

                    @if (Model != null)
    {
                        <table class="table table-bordered table-striped" id="tblAccount" style="margin-top:5%;">
                            <thead style="font-family: arial, helvetica, sans-serif;">
                                <tr class=" bg-primary">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer_id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Balance)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.accounttype_name)
                                    </th>
                                    <th style="text-align:center">
                                        Deposit Money
                                    </th>
                                    <th style="text-align:center">
                                        Withdrawl Money
                                    </th>
                                    <th style="text-align:center">
                                        Transfer Money
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Balance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.accounttype_name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Deposit", "DepositMoney", "AccountOperations", new { id = item.AccountID }, new { @class = "btn btn-info", @style = "background-color:#ae275f;color:white;font-family: arial, helvetica, sans-serif;" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Withdraw", "WithdrawlMoney", "AccountOperations", new { id = item.AccountID }, new { @class = "btn btn-danger", @style = "background-color:#ae275f;color:white;font-family: arial, helvetica, sans-serif;" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Transfer", "TransferMoney", "AccountOperations", new { id = item.Customer_id }, new { @class = "btn btn-danger", @style = "background-color:#ae275f;color:white;font-family: arial, helvetica, sans-serif;" })
                                    </td>
                                </tr>
            }

                        </table>
    }
</body>
</html>
