﻿@model IEnumerable<UnicornRetailBanking.Models.Usp_View_Account_1515934_Result>

@{
    ViewBag.Title = "ViewCustomerAccount";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*@Html.Raw(TempData["Message"])*@
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            alert("@TempData["Message"]");
        </script>
    };
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblAccount').DataTable();
        });
    </script>
</head>

<body style="background-color:white">

    <div class="container" style="margin-top:6%">
        <h3 style="text-align:center;color:#ae275f;font-family: arial, helvetica, sans-serif;">Account Details</h3>
        <table id="tblAccount" class="table table-bordered table-striped">
            <thead style="font-family: arial, helvetica, sans-serif;">
                <tr class="bg-primary" >

                    <th style="text-align:center">Sr.No</th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Customer_id)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.AccountID)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Customername)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    @*<th>
                @Html.DisplayNameFor(model => model.AccountStatus)
            </th>*@
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.accounttype_name)
                    </th>
                    <th style="text-align:center">
                        Action
                    </th>
                </tr>
            </thead>
            @{
                int sno = 0;
            }
            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td style="text-align:center">
                        @{ sno++; }
                        @sno
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customername)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.AccountStatus)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.accounttype_name)
                    </td>
                    <td>

                        @Html.ActionLink(" ", "DeactivateAccount", new { id = item.AccountID }, new { @class = "btn fa fa-trash", @style = "background-color:#ae275f;color:white" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>