﻿@model UnicornRetailBanking.Models.usp_login_1514614_Result

@{
    ViewBag.Title = "LoginDetails";
    Layout = null;
}


<link href="~/css/UnicornLogin.css" rel="stylesheet" />
<script src="~/js/UnicornLogin.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
     @Html.Raw(TempData["Message"])
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        <div class="container">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="~/img/unicorn.png" />
                <h3 style="color:#ae275f;text-align:center;font-weight: bold;" >Unicorn Banking </h3>
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                <div>
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control txt", @placeholder = "User Name" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @style = "color:Red" })
                 </div>
                  <div>
                      @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control txt", @placeholder = "Password", @type = "password" } })
                      @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger",@style="color:Red" })
                  </div>
                   
                  <div>
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                  </div>
                    
                </form><!-- /form -->
             
            </div>
        </div>
       
     

       
    </div>
}
 

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
