﻿
@{
    ViewBag.Title = "ExceptionHandle";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <title></title>
   
</head>
<body style="background-color:white;">
    @Html.Raw(TempData["Message"])


    <div class="container">
        <table>
            <tr>
                <td>
                    <img src="~/img/server maintainace.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style=" font-family:Times New Roman">Maintainance issue Please try after sometime</h4>
                </td>
            </tr>
        </table>
       
    </div>
</body>
</html>