﻿
@{
    ViewBag.Title = "SessionException";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title></title>

</head>
<body style="background-color:white;">
    @Html.Raw(TempData["Message"])


    <div class="container">
        <table>
            <tr>
                <td>

                    <img src="~/img/timeout_1.gif" />
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style=" font-family:Times New Roman">Your Session Expired Please Login Again!!!!!!!</h4>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>

