﻿@model UnicornRetailBanking.Models.usp_view_cust_id_1499077_Result

@{
    ViewBag.Title = "Deactivate";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.Raw(TempData["Message"])
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="round">
                    <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#d5d5d5;margin-top:5%">
                        <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                            <h5 style="color:white; font-size:18px; font-family: arial, helvetica, sans-serif;"><i>Are You Sure Yue Want To Delete This Customer?</i></h5>
                        </div>
                        <div class="panel-body">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.Label("Customer ID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                @Html.EditorFor(model => model.Customer_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                @Html.ValidationMessageFor(model => model.Customer_id, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.Label("Customer SSNID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                @Html.EditorFor(model => model.SsnID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                @Html.ValidationMessageFor(model => model.SsnID, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.Label("Customer Name", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                @Html.EditorFor(model => model.Customername, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                @Html.ValidationMessageFor(model => model.Customername, "", new { @class = "text-danger" })

                            </div>



                            <div class="form-group">
                                @Html.Label("Customer DOB", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">

                                <input type="submit" value="Delete" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />

                                <a href="http://localhost:54827/CustomerDetails/ListCustomer"><input type="button" value="Cancel" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default"></a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}