﻿@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<style>
    .mySlides {
        display: none;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 3px solid #ae275f;
        padding: 10px;
    }
</style>
<body>
    <div style="width:1140px; height:25px;background-color:#ae275f ; color:white">
        <marquee direction="left" style="font-family:'Comic Sans MS'"><strong>Welcome Unicorn Executive</strong></marquee>
    </div>
    <br>
    <div class="w3-content w3-section center" style="max-width:1000px">
        <img class="mySlides img-responsive" src="~/img/bank.jpg" />
        <img class="mySlides img-responsive" src="~/img/Credit-Bank-services-123rf.png" />
        <img class="mySlides img-responsive" src=" ~/img/MW-EY056_dollar_20161017211422_ZH.jpg" />
        <img class="mySlides img-responsive" src=" ~/img/ten-reasons-internet-banking_opt.jpg" />

    </div>

    <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000); // Change image every 3 seconds
}
    </script>

</body>