﻿@model IEnumerable<UnicornRetailBanking.Models.usp_view_customer_1499077_Result>

@{
    ViewBag.Title = "ListCustomer";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Html.Raw(TempData["Message"])
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblCustomer').DataTable();
           
        });
    </script>
</head>
<body style="background-color:white">
 @using (Html.BeginForm())
    {
    
    <div class="container" style="margin-top:6%">
        <h3 style="text-align:center;color:#ae275f;font-family: Arial, Helvetica, sans-serif;">Customer Details</h3>
     
        <table class="table table-bordered table-striped" id="tblCustomer">
            <thead style="background-color:#ae275f;color:white;font-family: Arial, Helvetica, sans-serif;">
                <tr class="bg-primary">
                    <th style="text-align:center">
                        Sr.No
                    </th>
                    <th style="width:100px">
                        @Html.DisplayName("Customer ID")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("SSN ID")
                    </th>
                    <th style="width:120px;text-align:center">
                        @Html.DisplayName("Name")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("EmailID")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("Contact")
                    </th>

                    <th style="text-align:center">
                        @Html.DisplayName("Address")
                    </th>
                    <th style="text-align:center">Actions</th>
                    
                </tr>
            </thead>
           @{
        int sno = 0;
        }


            @foreach (var item in Model)
            {
                <tr >
                    <td style="text-align:center">
                        @{ sno++; }
                        @sno
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Customer_id)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.SsnID)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Customername)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Email_id)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.ContactNo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "UpdateCustomer", new { id = item.Customer_id }, new { @class = "btn fa fa-pencil-square-o", @style = "background-color:#ae275f;color:white" }) |
                 
                        @Html.ActionLink(" ", "Deactivate", new { id = item.Customer_id }, new { @class = "btn fa fa-trash", @style = "background-color:#ae275f;color:white" })
                    </td>
                </tr>
            }

        </table>
    </div>
 }
</body>
</html>


