﻿@model IEnumerable<UnicornRetailBanking.Models.usp_search_customer_1506303_Result>

@{
    ViewBag.Title = "SearchListCustomer";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
        </style>

    <script type="text/javascript">
        $(function () {
            $('input[name="type"]').on('click', function () {
                if ($(this).val() == 'CustomerID') {
                    $('#custSearch').show();
                    $('#btnSearch').show();
                    $('#ssnSearch').hide();
                }
                else {
                    $('#custSearch').hide();
                    $('#btnSearch').show();
                    $('#ssnSearch').show();
                }
            });
        });
    </script>
</head>
<body style="background-color:white">
    @Html.Raw(TempData["Message"])
    @using (Html.BeginForm())
    {
        <div class="container" style="margin-top:5%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="round">
                    <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                        <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                            <h5 style="color:white; font-size:18px; font-family: Arial, Helvetica, sans-serif;"><i>Search Customer</i></h5>
                        </div>
                        <div class="row" style="margin-top:1%">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <input type="radio" class="radio-inline" name="type" value="CustomerID" />Customer ID
                                <input type="radio" class="radio-inline" name="type" value="SSNID" />Customer SSNID
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" id="custSearch" style="display: none">
                                <input type="text" id="txtcust" name="Cust_ID" style="border: 1px solid; border-color: #ae275f;" class="form-control" pattern="^(\d{9})$" title="Enter Valid CustomerID" placeholder="Customer ID" hidden="hidden" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" id="ssnSearch" style="display:none">
                                <input type="text" id="txtssn" name="Ssn_ID" class="form-control" style="border: 1px solid; border-color: #ae275f;" pattern="^(\d{9})$" title="Enter Valid SSNID" placeholder="SSN ID" hidden="hidden">
                            </div>
                        </div>

                        <br />
                        <div class="row" style="margin-bottom:2%">
                            <div class="col-md-5"></div>

                            <div class="col-md-4">
                                <input type="submit" id="btnSearch" class="btn btn-info" value="Search" style="display:none;color:white;background-color:#ae275f">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
                    }

                    @if (Model != null)
    {
                        <table class="table table-bordered table-striped" id="tblCustomer" style="margin-top:5%;">
                            <thead style="font-family: arial, helvetica, sans-serif;">
                                <tr class=" bg-primary" >
                                    <th style="text-align:center">
                                        @Html.DisplayName("Customer ID")
                                    </th>
                                    <th style="text-align:center">
                                        @Html.DisplayName("Customer SSNID")
                                    </th>
                                    <th style="text-align:center">
                                        @Html.DisplayName("Customer Name")
                                    </th>

                                    <th style="text-align:center">
                                        @Html.DisplayName("Email ID")
                                    </th>
                                    <th style="text-align:center">
                                        @Html.DisplayName("Contact Number")
                                    </th>
                                    <th style="text-align:center">Actions</th>

                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Customer_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SsnID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customername)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactNo)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink(" ", "AddCustomerAccount", "Account", new { id = item.Customer_id }, new { @class = "btn fa fa-plus-square", @style = "background-color:#ae275f;color:white" }) |*@
                                        @Html.ActionLink(" ", "UpdateCustomer", new { id = item.Customer_id }, new { @class = "btn fa fa-pencil-square-o", @style = "background-color:#ae275f;color:white" }) |

                                        @Html.ActionLink(" ", "Deactivate", new { id = item.Customer_id }, new { @class = "btn fa fa-trash", @style = "background-color:#ae275f;color:white" })
                                    </td>
                                </tr>
                            }

                        </table>

    }
    </body>
</html>