﻿@model UnicornRetailBanking.Models.usp_view_cust_id_1499077_Result

@{
    ViewBag.Title = "UpdateCustomer";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Html.Raw(TempData["Message"])
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#DOB").datepicker({
                    changeMonth: true, changeYear: true,
                    yearRange: "1970:+nn",
                    maxDate: '-18Y',
                });
            });

            $('#ddlState').change(function () {
                debugger;
                $("#ddlCity option:not(:first)").remove();

                //$('#ddlCity').empty();
                $.ajax({
                    type: "POST",
                    url: "/CustomerDetails/GetAllCity",
                    datatype: "Json",
                    data: { StateID: $('#ddlState').val() },
                    success: function (data) {
                        $.each(data, function (index, lstCity) {

                            $('#ddlCity').append('<option value="' + lstCity.Value + '">' + lstCity.Text + '</option>');
                        });
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });
        });
    </script>
</head>
<body>


   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="round">
                        <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                            <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                                <h5 style="color:white; font-size:18px; font-family: Arial, Helvetica, sans-serif;"><i>Edit Customer</i></h5>
                            </div>
                            <div class="panel-body">

                                <p style="color:red; text-align:right">* Marks Fields Are Required</p>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Customer ID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                    @Html.EditorFor(model => model.Customer_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.Customer_id, "", new { @class = "text-danger" })

                                </div>




                                <div class="form-group">
                                    @Html.Label("Customer SSNID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                    @Html.EditorFor(model => model.SsnID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.SsnID, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.Label("Customer Name", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -152px;" })

                                    @Html.EditorFor(model => model.Customername, new { htmlAttributes = new { @class = "form-control", @id = "custName", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.Customername, "", new { @class = "text-danger" })

                                </div>


                                <div class="form-group">
                                    @Html.Label("Date of Birth", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })

                                    @Html.EditorFor(model => model.Dob, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @id = "DOB", @class = "form-control", @readonly = "readonly", @placeholder = "MM-DD-YYYY", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.Label("Customer EmailID", htmlAttributes: new { @class = " col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -144px;" })
                                    @Html.EditorFor(model => model.Email_id, new { htmlAttributes = new { @class = "form-control", @id = "emailID", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.Email_id, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.Label("Contact Number", htmlAttributes: new { @class = "col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -150px;" })
                                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.Label("Address 1", htmlAttributes: new { @class = " col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -190px;" })
                                    @Html.EditorFor(model => model.Address_1, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.Address_1, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.Label("Address 2", htmlAttributes: new { @class = " col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -190px;" })
                                    @Html.EditorFor(model => model.Address_2, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                    @Html.ValidationMessageFor(model => model.Address_2, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.Label("State", htmlAttributes: new { @class = " col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -222px;" })
                                    @Html.DropDownListFor(model => model.StateID, Model.lstState, "---Select---", new { @id = "ddlState", @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.Label("City", htmlAttributes: new { @class = " col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -228px;" })
                                    @Html.DropDownListFor(model => model.CityId, Model.lstCity, "---Select---", new { @id = "ddlCity", @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })

                                </div>


                                <div class="form-group">

                                    <input type="submit" value="Update" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                    <input type="reset" value="Reset" id="btnReset" style="background-color:#ae275f;color:white;font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }

</body>
</html>