﻿@model UnicornRetailBanking.Models.sp_deposit_withdraw_view_1499077_Result

@{
    ViewBag.Title = "DepositMoney";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Html.Raw(TempData["Message"])
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
      
     
        $('#btnget').on('click', function () {
            $(".form-control").each(function (index, element) {
                if ($(element).val() == "") {
                    alert("Please Enter" + $(element).attr("placeholder"));
                    return false;
                }

            });
        });
       
    });
    </script>

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="round">
                        <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                            <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                                <h5 style="color:white; font-size:18px;font-family: Arial, Helvetica, sans-serif;"><i>Deposit Money</i></h5>
                            </div>
                            <div class="panel-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Customer ID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                   
                                        @Html.EditorFor(model => model.Customer_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                        @Html.ValidationMessageFor(model => model.Customer_id, "", new { @class = "text-danger" })
                             
                                </div>

                                <div class="form-group">
                                    @Html.Label("Available Balance", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                  
                                        @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
                                  
                                </div>

                                <div class="form-group">
                                    @Html.Label("Account ID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                 
                                        @Html.EditorFor(model => model.AccountID, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                    
                                </div>

                                <div class="form-group">
                                    @Html.Label("Account Type", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    
                                        @Html.EditorFor(model => model.accounttype_name, new { htmlAttributes = new { @class = "form-control", @style = " font-family: Arial, Helvetica, sans-serif;", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.accounttype_name, "", new { @class = "text-danger" })
                               
                                </div>
                                <div class="form-group">
                                  @Html.Label("Deposit Amount($)", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -140px;" })
                                    <input type="text" min="100" max="1000000" title="Please Enter Valid Amount" id="txtamount" name="amount" class="form-control"  placeholder="Deposit Amount" style="font-family: arial, helvetica, sans-serif;"  />
                                 
                                </div>
                                <div class="form-group">
                                    @Html.Label("Deposit Narration", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -148px;" })
                                    <input type="text" id="txtnarration" name="narration" pattern=" ^[a-zA-z]*$"  style=" font-family: Arial, Helvetica, sans-serif;" class="form-control" placeholder="Deposit Narration" title="Please Enter Valid Narration" />
                             
                                 </div>
                                <div class="form-group">

                                    <input type="submit" id="btnget" value="Deposit" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                    <input type="reset" value="Reset" id="btnReset" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                    <a href="http://localhost:54827/Account/SearchAccount"><input type="button" value="Cancel" style="background-color:#ae275f;color:white" class="btn btn-default"></a>  
                                 </div>
                            </div>
                            <p style="color:red; text-align:center;font-family: Arial, Helvetica, sans-serif;">* Fields Are Required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }

</body>
</html>

   
