﻿@model UnicornRetailBanking.Models.sp_ViewAccountbyCustId_1499077_Result

@{
    ViewBag.Title = "TransferMoney";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Html.Raw(TempData["Message"])
    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnget').on('click', function () {
                $(".form-control").each(function (index, element) {
                    if ($(element).val() == "") {
                        alert("Please Enter" + $(element).attr("placeholder"));
                        return false;
                    }

                });
            });
            $.ajax({
                type: "POST",
                url: "/Account/GetAccount",
                datatype: "Json",
                success: function (data) {
                    $.each(data, function (index, lstAccount) {
                        $('#drpsource').append('<option value="' + lstAccount.Value + '">' + lstAccount.Text + '</option>');
                    });
                },
                error: function () {
                    alert('Error');
                }
            });
            $.ajax({
                type: "POST",
                url: "/Account/GetAccount",
                datatype: "Json",
                success: function (data) {
                    $.each(data, function (index, lstAccount) {
                        $('#drpdestinatrion').append('<option value="' + lstAccount.Value + '">' + lstAccount.Text + '</option>');
                    });
                },
                error: function () {
                    alert('Error');
                }
            });
        });
    </script>
</head>
<body>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="round">
                        <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                            <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                                <h5 style="color:white; font-size:18px;font-family: Arial, Helvetica, sans-serif;"><i>Transfer Money</i></h5>
                            </div>
                            <div class="panel-body">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Customer ID", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                  
                                        @Html.EditorFor(model => model.Customer_id, new { htmlAttributes = new { @class = "form-control", @readonly ="readonly", @style = " font-family: Arial, Helvetica, sans-serif;" } })
                                        @Html.ValidationMessageFor(model => model.Customer_id, "", new { @class = "text-danger" })
                                    
                                </div>

                               
                                <div class="form-group">
                                    @Html.Label("Source Account", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -160px;" })
                                    <select  id="drpsource" name="source" class="form-control" style="font-family: arial, helvetica, sans-serif;">
                                        <option value="0" style=" font-family: Arial, Helvetica, sans-serif;">---Select---</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Destination Account", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -130px;" })
                                    <select  id="drpdestinatrion" name="destination" style=" font-family: Arial, Helvetica, sans-serif;" class="form-control">
                                        <option value="0" style=" font-family: Arial, Helvetica, sans-serif;">---Select---</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Transfer Amount($)", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -140px;" })
                                    <input type="text" id="txtamount" name="amount" class="form-control" placeholder="Transfer Amount" style="font-family: arial, helvetica, sans-serif;" />
                                </div>
                                <div class="form-group">
                                    @Html.Label("Transfer Narration", htmlAttributes: new { @class = "control-label col-md-6", @style = " font-family: Arial, Helvetica, sans-serif;" })
                                    @Html.Label("*", htmlAttributes: new { @class = "control-label col-md-6", @style = "color:red;margin: 0px 0px 0 -148px;" })
                                    <input type="text" id="txtnarration" name="narration" style=" font-family: Arial, Helvetica, sans-serif;" class="form-control" placeholder="Transfer Narration" title="Please Enter Balance" required />
                                </div>
                                <div class="form-group">

                                    <input type="submit" id="btnget" value="Transfer" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                    <input type="reset" value="Reset" id="btnReset" style="background-color:#ae275f;color:white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-default" />
                                    <a href="http://localhost:54827/Account/SearchAccount"><input type="button" value="Cancel" style="background-color:#ae275f;color:white" class="btn btn-default"></a>
                                </div>
                            </div>
                            <p style="color:red; text-align:center">* Fields Are Required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }

</body>
</html>
