﻿@model IEnumerable<UnicornRetailBanking.Models.sp_ViewTrasact_table_1499077_Result>

@{
    ViewBag.Title = "Transacttable";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblAccount').DataTable();
        });
    </script>
</head>
@Html.Raw(TempData["Message"])
<body style="background-color:white">
    <div class="container" style="margin-top:6%">
        <h3 style="text-align:center;color:#ae275f;font-family: Arial, Helvetica, sans-serif;">Transaction Details</h3>
      
        <table id="tblAccount" class="table table-bordered table-striped">
            <thead>
                <tr class="bg-primary">
                    <th style="text-align:center">Sr.No</th>
                    <th style="text-align:center">
                        @Html.DisplayName("Account ID")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("Date of Transaction")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("Transaction ID")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("Narration")
                    </th>

                    <th style="text-align:center">
                        @Html.DisplayName("Debit")
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayName("Credit")
                    </th>
                 
                   
                  
                </tr>
                </thead>
                  @{
                    int sno = 0;
                 }
                            @foreach (var item in Model)
                            {
                                <tr>
                    
                                    <td style="text-align:center">
                                        @{ sno++; }
                                        @sno
                                    </td>
                               
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.AccountId)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.DateofTransaction)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.transaction_id)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.Narration)
                                    </td>  
                                    <td style="color:red;text-align:center">
                                        @Html.DisplayFor(modelItem => item.debit)
                                    </td>
                                    <td style="color:darkgreen;text-align:center">
                                        @Html.DisplayFor(modelItem => item.credit)
                                    </td>
                       
                       
                    </tr>
                }

        </table>
</div>
</body>
</html>