﻿@model IEnumerable<UnicornRetailBanking.Models.usp_last10_transactions_1515934_Result>

@{
    ViewBag.Title = "ViewRecentTransactions";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>


    <script type="text/javascript">
        function myFunction() {
            $('#hidediv').hide();
            $('#btnprint').hide();
          
            window.print();
         
        }
        $(document).ready(function () {
            $('#btnget').on('click', function () {
                $(".form-control").each(function (index, element) {
                    if ($(element).val() == "") {
                        alert("Please Enter" + $(element).attr("placeholder"));
                        return false;
                    }

                });
            });
            $('#tblTransaction').DataTable();
        });
    </script>
</head>
<body style="background-color:white">
    @Html.Raw(TempData["Message"])
    @using (Html.BeginForm())
    {

        <div class="col-md-3"></div>
        <div class="col-md-6" id="hidediv">
            <div class="round">
                <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                    <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                        <h5 style="color:white; font-size:18px; font-family: Arial, Helvetica, sans-serif;"><i>View Transaction</i></h5>
                    </div>
                    <div class="row" style="margin-top:2%">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" id="ssnSearch">
                            <label>Account ID</label>
                            <input type="text" id="txtAccID" style="border:1px solid;border-color:#ae275f;" name="Acc_ID" class="form-control" pattern="^(\d{11})$" title="Enter Valid Account ID" placeholder="Account ID" required />
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-4"></div>

                        <div class="col-md-4" style="margin-bottom:1%">
                            <input type="Submit" id="btnget" class="btn btn-info" value="Submit" style="color:white;background-color:#ae275f">
                        </div>
                    </div>

                </div>
            </div>
        </div>
       

    }
    @if (Model != null)
    {
        <div class="col-md-4">
            <input type="button" id="btnprint" onclick="myFunction()" value="Print" />
        </div>

        <table id="tblTransaction" class="table table-bordered table-striped">
            <thead>
                <tr class="bg-primary">
                    <th>Sr.No</th>
                    <th>
                        @Html.DisplayName("Account ID")
                    </th>
                    <th>
                        @Html.DisplayName("Date of Transaction")
                    </th>
                    <th>
                        @Html.DisplayName("Transaction ID")
                    </th>
                    <th>
                        @Html.DisplayName("Narration")
                    </th>

                    <th>
                        @Html.DisplayName("Debit")
                    </th>
                    <th>
                        @Html.DisplayName("Credit")
                    </th>
                </tr>
            </thead>
            @{
        int sno = 0;
            }


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ sno++; }
                        @sno
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofTransaction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.transaction_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Narration)
                    </td>

                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.debit)
                    </td>
                    <td style="color:green">
                        @Html.DisplayFor(modelItem => item.credit)
                    </td>


                </tr>
            }

        </table>
    }

</body>



</html>