﻿@model IEnumerable<UnicornRetailBanking.Models.usp_Date_to_Date_transactions_1515934_Result>

@{
    ViewBag.Title = "ViewDurationTransaction";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    @Html.Raw(TempData["Message"])

    <meta name="viewport" content="width=device-width" />
    <title>Unicorn</title>
  


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function myFunction() {
            $('#hidediv').hide();
            $('#btnprint').hide();

            window.print();

        }
        $(document).ready(function () {
           
            $(function () {
                $("#sDate").datepicker({
                    changeMonth: true, changeYear: true, yearRange: "1970:+nn", maxDate: '0'
                });
               
            });
            $(function () {
                $("#eDate").datepicker({
                    changeMonth: true, changeYear: true, yearRange: "1970:+nn", maxDate: '0'
                });
                $('#btnget').on('click', function () {
                    $(".form-control").each(function (index, element) {
                        if ($(element).val() == "") {
                            alert("Please Enter" + $(element).attr("placeholder"));
                            return false;
                        }
                      
                    });
                })
            });
            $('#tblTransaction').DataTable();
        });
    </script>
</head>

<body style="background-color:white">
    @using (Html.BeginForm())
    {

        <div class="container" style="margin-top:5%;">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="hidediv">
                <div class="round">
                    <div class="panel panel-default" style=" border-style: groove; border-width: medium; height:40%; background-color:#e4dfdf; border-color:#e4dfdf;margin-top:5%">
                        <div class="panel-heading" style="background-color:#ae275f; height: 20%">
                            <h5 style="color:white; font-size:18px; font-family: Arial, Helvetica, sans-serif;"><i>View Transaction</i></h5>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <label>Account ID</label>
                                <input type="text" id="txtAccID" name="Acc_ID" class="form-control" pattern="^(\d{11})$" title="Enter Valid Account ID" placeholder="Account ID" style=" font-family: Arial, Helvetica, sans-serif; border:1px solid;border-color:#ae275f;" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                                <label>Start Date</label>
                                <input type="text" id="sDate" name="FromDate" class="form-control" placeholder="MM-DD-YYYY" style=" font-family: Arial, Helvetica, sans-serif;border:1px solid;border-color:#ae275f;" />
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                                <label>EndDate</label>
                                <input type="text" id="eDate" name="ToDate" class="form-control" placeholder="MM-DD-YYYY" style=" font-family: Arial, Helvetica, sans-serif;border:1px solid;border-color:#ae275f;" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4"></div>

                            <div class="col-md-4" style="margin-bottom:2%">
                                <input type="Submit" id="btnget" class="btn btn-info" value="Submit" style="color:white;background-color:#ae275f">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        @if (Model != null)
                        {
                            <div class="col-md-4">
                                <input type="button" id="btnprint" onclick="myFunction()" value="Print" />
                            </div>

                            <table id="tblTransaction" class="table table-bordered table-striped">
                                <thead style="background-color:#ae275f;color:white;font-family: Arial, Helvetica, sans-serif;">
                                    <tr class=" bg-primary">
                                        <th>
                                            Sr.No
                                        </th>
                                        <th>
                                            @Html.DisplayName("Account ID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Date of Transaction")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Transaction ID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Narration")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Debit")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Credit")
                                        </th>
                                    </tr>
                                </thead>
                                @{
                       int sno = 0;
                                }


                                @foreach (var item in Model)
                {
                                    <tr>
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateofTransaction)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.transaction_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Narration)
                                        </td>

                                        <td style="color:red">
                                            @Html.DisplayFor(modelItem => item.debit)
                                        </td>
                                        <td style="color:green">
                                            @Html.DisplayFor(modelItem => item.credit)
                                        </td>


                                    </tr>
                    }
                            </table>
                }
                    </div>
                    }
    </body>
</html>