/*
*Template Name: Unship
*Description: HTML5 / CSS3 Multi Page
*Version: 1.0
*Author: uiCookies.
**************************************
*/


/*-----------------------------------
NAVIGATION
------------------------------------*/
.mainnav {
  position:absolute;
}

@media(min-width:767px) {
  .navbar-nav {
    float: none;
    text-align: center;
  }

  .navbar-nav>li {
    display: inline-block;
    float: none;
  }
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  margin: 0!important;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-left:5px;
}

.navbar-default .navbar-nav>li>a {
  padding: 15px 22px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav>li>a {
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: #ae275f;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  color: #ae275f;
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #ae275f;
}

.navbar-default .navbar-nav>li:focus {
  outline: none;
}


/*TOGGLE BUTTON*/

.navbar-header {
  position: absolute;
  left: 0;
  width: 100%;
}

.navbar-toggle {
  position: absolute;
  left: 0;
  display: block;
  margin: 0;
  padding: 9px 18px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width : 767px) {
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #7b8a97;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #ae275f;
  color: #fff;
}


/*search-button*/
.search-button {
  position: absolute;
  right: 20px;
  line-height: 50px;
}

.search-button a {
  color: #9e9e9e;
}

.search-button a:hover {
  color: #ae275f;
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 9999;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

.navbar.sticky #search input[type="search"] {
  top: 90%;
  font-size: 40px;
}

#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -70px;
  z-index: 1;
}

#search .close {
  position: fixed;
  top: 20px;
  right: 15px;
  color: #fff;
  background-color: #666;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
  z-index: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#search .close:hover {
  background-color: #ae275f;
}

.navbar.sticky #search .close {
  top: 0;
}

/* ------------------------------------------------------------------
DROPDOWN CSS
---------------------------------------------------------------------*/
.dropdown-menu {
  border: 0;
  border-radius: 0;
  position: relative;
  display: block;
  float: none;
  width: 100%;
  background: #fff;
  box-shadow: none;
  padding: 0;
}

.nav.navbar-nav li ul.dropdown-menu li a {
  padding: 8px 20px;
  font-weight: 500;
  line-height: 20px;
  color: #343434;
  text-transform: uppercase;
  font-size: 11px;
}

.nav.navbar-nav li ul.dropdown-menu li a:hover,
.nav.navbar-nav li ul.dropdown-menu li a:focus {
  color: #fff;
  background-color: #ae275f;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
  color: #fff !important;
  background-color: #ae275f;
}

/* 2nd label caret */
.dropdown .dropdown-menu .dropdown .caret {
  position: absolute;
  right: 10px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  top: 15px;
}

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {
  background-color: #ae275f;
  color: #fff !important;
}


/* Menu hover */

/* 2nd label menu */

li.dropdown > .submenu-wrapper {
  position: absolute;
  display: block;
  left: 0;
  z-index: 999;
  pointer-events: none;
  top: 50px;
 /* Will change on theme specific */;
}


/** IE pointer events */

li.dropdown > .submenu-wrapper.no-pointer-events {
  display: none;
}

li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: -2px;
  opacity: 0;
  filter: alpha(opacity=0);
 /* For IE8 and earlier */
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
    /* Will change on theme specific */
  min-width: 200px;
    /* Will change on theme specific */
    /*
    ease-in-out, 
    easeOutBack   = cubic-bezier(0.175, 0.885, 0.32, 1.275)
    easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)
    easeInOutBack = cubic-bezier(0.68, -0.55, 0.265, 1.55)
    */
  -webkit-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*for IE9*/
.ie9 li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: 34px;
}

/*for IE9*/
.ie9 .top-nav-collapse li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: 14px;
}

li.dropdown:hover > .submenu-wrapper {
  pointer-events: auto;
}

li.dropdown:hover > .submenu-wrapper.no-pointer-events {
  display: block;
}

li.dropdown:hover > .submenu-wrapper > .submenu-inner {
  opacity: 1;
  filter: alpha(opacity=100);
 /* For IE8 and earlier */
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

li.dropdown.menu-animating > .submenu-wrapper {
  overflow: hidden;
}

/* 3rd label menu */

li.dropdown > .submenu-sub-wrapper {
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
  z-index: 1000;
  width: 100%;
  pointer-events: none;
}

li.dropdown > .submenu-sub-wrapper > .submenu-sub-inner {
  opacity: 0;
  filter: alpha(opacity=0);
 /* For IE8 and earlier */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
    /*
    ease-in-out, 
    easeOutBack   = cubic-bezier(0.175, 0.885, 0.32, 1.275)
    easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)
    easeInOutBack = cubic-bezier(0.68, -0.55, 0.265, 1.55)
    */
  -webkit-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

li.dropdown:hover > .submenu-sub-wrapper {
  pointer-events: auto;
}

li.dropdown:hover > .submenu-sub-wrapper > .submenu-sub-inner {
  opacity: 1;
  filter: alpha(opacity=100);
 /* For IE8 and earlier */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

li.dropdown.menu-animating > .submenu-sub-wrapper {
  overflow: hidden;
}
