/*
*Template Name: Unship
*Description: HTML5 / CSS3 Multi Page
*Version: 1.0
*Author: uiCookies.
**************************************
*/


/*-------------------------------------
 *  HERO SLIDER
 *-------------------------------------*/

.hero-slide img{
    min-width: 100%;
    }

.hero-slide .container {
    position  : absolute;
    left      : 0;
    right     : 0;
    top       : 50%;
    transform : translateY(-50%);
    }

.hero-slide .carousel-caption {
    position    : relative;
    right       : 0;
    left        : 0;
    text-align  : left;
    text-shadow : none;
    width : 60%;
    }

.hero-slide .carousel-caption small {
    font-size       : 13px;
    color           : #ae275f;
    font-weight     : 500;
    animation-delay : 1s;
    }

.hero-slide .carousel-caption .phone {
    font-size               : 30px;
    color                   : #ff5722;
    -webkit-animation-delay : 100ms;
    animation-delay         : 100ms;
    }

.hero-slide .carousel-caption h1 {
    font-size               : 56px;
    line-height             : 1;
    font-weight             : bold;
    text-transform          : capitalize;
    margin                  : 30px 0 20px;
    -webkit-animation-delay : 150ms;
    animation-delay         : 150ms;
    color:#222;
    }

.hero-slide .carousel-caption .lead {
    font-size               : 24px;
    color                   : #444;
    font-weight             : normal;
    margin-bottom           : 30px;
    -webkit-animation-delay : 200ms;
    animation-delay         : 200ms;
    }

.hero-slide .carousel-caption .btn {
    -webkit-animation-delay : 250ms;
    animation-delay         : 250ms;
    background: #ae275f;
    color: #fff;
    }

.hero-slide .carousel-caption .btn:hover{
    background: #fff;
    color: #333;
    }

/* Slider Controller */
.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right {
    font-size   : 30px;
    width       : 30px;
    height      : 100px;
    line-height : 100px;
    top         : 50%;
    background  : #000000;
    cursor      : pointer;
    border      : 0;
    text-shadow : none;
    transform   : translateY(-50%);
    }

.hero-slide .carousel-control.left {
    left : -100%;
    }

.hero-slide .carousel-control.right {
    right : -100%;
    }

.hero-slide:hover .left {
    left : 0;
    }

.hero-slide:hover .right {
    right : 0;
    }

/* Slider Indicator*/
.hero-slide .carousel-indicators li {
    border  : 2px solid rgba(0, 0, 0, .5);
    opacity : .5;
    }

.hero-slide .carousel-indicators li.active {
    border-color     : #ff5722;
    background-color : #ff5722;
    opacity          : 1;
    }

/*Media Query*/

@media (max-width : 1024px) {
    .hero-slide .carousel-caption h1 {
        font-size : 24px;
        margin-top: 10px;
        }

    .hero-slide .carousel-caption .lead{
        font-size: 16px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 12px;
        }

    .hero-slide .carousel-caption .phone{
        font-size: 18px;
        }
    .hero-slide .carousel-caption small{
        font-size: 11px;
        }

    .hero-slide .carousel-caption{
        padding: 40px 0;
        }
    }


@media (max-width : 768px) {

    .hero-slide .carousel-caption h1 {
        font-size : 18px;
        margin-top: 10px;
        }

    .hero-slide .carousel-caption .lead{
        font-size: 14px;
        }

    .hero-slide .carousel-caption .phone{
        font-size: 16px;
        line-height: 1;
        }

    .hero-slide .carousel-caption small{
        font-size: 10px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 12px;
        }
    }

@media (max-width : 600px) {
    .carousel-indicators{
        display: none;
        }

    .hero-slide .carousel-caption{
        width: 100%;
        text-align: center;
        padding: 30px;
        }

    .hero-slide .carousel-caption .lead{
        margin-bottom: 10px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 10px;
        padding: 5px 10px;
        border-width: 1px;
        }
    }

@media (max-width : 320px){
    .hero-slide{
        display: none;
        }
    }




/*------------------------------------------------------------------
OUR SERVICES SECTION
--------------------------------------------------------------------- */
.service-wrap {
  overflow: hidden;
  background: #fff;
  z-index: 0;
}

.service-wrap .section-heading {
  margin-bottom: 30px;
}

.service-wrap .section-heading h2 {
  color: #fff;
}

.service-wrap .section-sub {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255,255,255,.8);
}

.service-wrap .section-sub::after {
  background-color: #fff;
  left: 0;
  margin-left: 0;
}

.service-left-box {
  position: relative;
  padding: 80px 60px 80px 0;
  color: #fff;
}

.service-left-box:before {
  position: absolute;
  content: "";
  width: 300%;
  height: 100%;
  background: #ae275f;
  top: 0;
  right: 25px;
  z-index: -1;
}

.service-left-box .service-intro p {
  line-height: 35px;
}

#service-carousel {
  padding: 150px 0;
}

.service-content h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.service-content h3 span {
  font-size: 24px;
  color: #bcbcbc;
}

.service-content .service-thumb {
  margin-bottom: 20px;
}

.service-content .service-thumb img {
  width: 100%;
}

.service-content p {
  line-height: 35px;
}

.service-content a {
  margin-top: 30px;
}

.service-content a i {
  margin-left: 5px;
}

/* ------------------------------------------------------------------
ABOUT US WRAP
--------------------------------------------------------------------- */
.about-us-wrap {
  background: url(../img/capbilities.png)no-repeat;
  background-size: 50%;
  background-position: right 85px;
}

.about-us-wrap .about-us-content h3 {
  margin-bottom: 25px;
}

.about-us-wrap .about-us-content span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: 28px;
  color: #343434;
}

.about-us-wrap .about-us-content p {
  margin-bottom: 0;
}

.about-us-wrap .about-us-content.capabilities {
  background: #336cac;
  padding: 48px 52px;
  color: #fff;
}

.about-us-wrap .about-us-content.capabilities .about-content-block h3 {
  margin: 0px 0 20px;
  font-size: 36px;
  color: #fff;
}

.about-us-wrap .about-us-content.capabilities ul li {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
}

.about-us-wrap .about-us-content.capabilities ul li:before {
  position: absolute;
  left: 0;
  content: "\f00c";
  font-family: FontAwesome;
  color: #ccc;
}


/* ------------------------------------------------------------------
Featuer Section
--------------------------------------------------------------------- */
.feature-wrap {
  background: #fff url(../img/featurebg.png) no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}

.feature-wrap .feature-content h2 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  line-height: 52px;
  margin-bottom: 30px;
}

.feature-wrap .feature-content h2 span {
  display: block;
  line-height: 38px;
  margin-top: 10px;
  font-size: 34px;
  font-weight: 400;
}

.feature-wrap .feature-content p {
  font-size: 18px;
}

.feature-wrap .feature-content .quote-btn {
  margin-top: 40px;
}

/* ------------------------------------------------------------------
PORTFOLIO WRAP
--------------------------------------------------------------------- */

.fleets-wrap {
  padding-top: 75px;
  background: #fff;
}

.fleets-wrap .section-heading {
  margin: 0 0 35px;
}

.fleets-wrap .no-padding {
  margin: 0 -15px;
}

.fleets-wrap .owl-stage-outer {
  border-bottom: 1px solid #eee;
}

.fleets-wrap .owl-item {
  margin: 0!important;
}

.fleets-wrap .owl-item .owl-item-thumb {
  position: relative;
}

.fleets-wrap .owl-item .owl-item-thumb .owl-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  background: #6b64f3;
}

.fleets-wrap .owl-item .owl-item-thumb a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fleets-wrap .owl-item .owl-item-thumb a img {
  width: auto!important;
  margin: 35% auto 0;
  opacity: 0;
}

.fleets-wrap .owl-item .owl-item-thumb .owl-item-overlay,
.fleets-wrap .owl-item .owl-item-thumb a img {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fleets-wrap .owl-item .owl-item-thumb:hover .owl-item-overlay {
  opacity: 0.9;
}

.fleets-wrap .owl-item .owl-item-thumb:hover a img {
  opacity: 1;
}

.fleets-wrap .owl-item .owl-tem-content {
  border-right: 1px solid #ebebeb;
  box-sizing: border-box;
  padding: 30px;
}

.fleets-wrap .owl-item .owl-tem-content h3 {
  font-size: 16px;
  line-height: 24px;
}

.fleets-wrap .owl-item .owl-tem-content h3 a {
  color: #343434;
}

.fleets-wrap .owl-item .owl-tem-content h3 a:hover {
  color: #ae275f;
}

.fleet-carousel-navigation {
  position: absolute;
  top: -75px;
  right: 15px;
}

.fleet-carousel-navigation .left {
  margin-right: -3px;
}


/* ------------------------------------------------------------------
TESTIMONIAL
--------------------------------------------------------------------- */
.testimonial-wrap {
  padding-top: 75px;
  background: #fff;
}

.testimonial-wrap .section-heading {
  margin-bottom: 20px;
}

.testimonial-wrap .carousel {
  overflow: hidden;
  background: #f4f6f7;
}

.testimonial-wrap.carousel h3 {
  position: absolute;
  left: 38%;
  top: 20%;
  margin-left: -5px;
}

.testimonial-wrap .media-left {
  width: 450px;
  padding: 0;
}

.testimonial-wrap .item-left-thumb {
  position: relative;
}

.testimonial-wrap .media-body {
  vertical-align: middle;
}

.testimonial-wrap .author-info {
  position: absolute;
  display: block;
  bottom: 10%;
  width: 108%;
  margin: 0;
  background: rgba(255, 255, 255, 0.75);
}

.testimonial-wrap .author-info > div[class*='col-'] {
  padding-right: 0;
}

.testimonial-wrap .author-info .author-name {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #000;
  margin: 32px 0 26px;
  line-height: 18px;
}

.testimonial-wrap .author-info .author-name span {
  font-size: 18px;
  line-height: 25px;
  display: block;
  font-weight: 700;
}

.testimonial-wrap .author-info .author-name small {
  font-size: 14px;
  line-height: 14px;
}

.testimonial-wrap .item-right-text {
  position: relative;
  font-size: 20px;
  color: #7b7575;
  padding: 40px 70px 0 70px;
  font-weight: 300;
  line-height: 36px;
  font-style: italic;
}

.testimonial-wrap .item-right-text:before {
  content: "\f10d";
  position: absolute;
  top: 0;
  font-family: FontAwesome;
  font-size: 15em;
  color: rgba(0,0,0,.1);
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.item-left-thumb img {
  width: 100%;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.testimonial-wrap .slider-control {
  top: 64px;
}


/* ------------------------------------------------------------------
PRICING
--------------------------------------------------------------------- */

.pricing-wrap {
  background: #fff;
}

.pricing-wrap .section-heading {
  margin-bottom: 50px;
}

.pricing-wrap .no-padding {
  margin: 0 -15px;
}

.pricing-wrap .row {
  margin: 0;
}

.pricing-table {
  text-align: center;
}

.pricing-table .pricing-header {
  background: #336cac;
  color: #fff;
  text-align: center;
  padding: 40px;
  font-weight: 700;
  border-right: 1px solid rgba(138, 175, 216, 0.29);
}

.pricing-table .pricing-title {
  font-size: 23px;
}

.pricing-table .pricing-price {
  font-size: 60px;
  line-height: 70px;
}

.pricing-table .pricing-cell {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 0;
  border-right: 1px solid #e6e6e6;
}

.pricing-table.first-col .pricing-cell {
  border-left: 1px solid #e6e6e6;
}

.pricing-footer {
  border: 1px solid #e6e6e6;
  border-top: 0;
  padding: 10px 30px;
}

.pricing-table .pricing-cell,
.pricing-footer {
  color: #62646c;
}

/*--------------------------------------------------------------------
ABOUT US PAGE
--------------------------------------------------------------------- */

.about-us-intro-wrap .section-heading,
.about-us-advantage-wrap .section-heading {
  margin-bottom: 40px;
}

.about-us-intro-wrap .about-thumb img {
  width: 100%;
}

.about-us-intro-wrap span {
  color: #343434;
  font-weight: 500;
}

.about-us-advantage {
  background: #fff;
}

.about-us-advantage-wrap {
  background: #fff;
}

.about-us-advantage-wrap .advantage-left-content {
  position: relative;
  padding-right: 80px;
}

.about-us-advantage-wrap .advantage-left-content:after {
  content: "";
  position: absolute;
  border-right: 1px solid #d9d9d9;
  top: 0;
  right: 30px;
  width: 100%;
  height: 100%;
}

.about-us-advantage-wrap .advantage-right-content {
  padding-top: 20px;
}

.about-us-advantage-wrap .advantage-right-content>div {
  position: relative;
  padding-left: 100px;
  margin-bottom: 50px;
}

.about-us-advantage-wrap .advantage-right-content>div:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 80px;
  height: 80px;
}

.about-us-advantage-wrap .advantage-right-content>div:first-child:before {
  background: url(../img/advantage-icon1.png)no-repeat;
}

.about-us-advantage-wrap .advantage-right-content>div:last-child {
  margin-bottom: 0;
}

.about-us-advantage-wrap .advantage-right-content>div:last-child:before {
  background: url(../img/advantage-icon2.png)no-repeat;
}

.about-us-advantage-wrap .advantage-right-content>div h3 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}


/* team */

.team-wrap .section-heading {
  margin-bottom: 75px;
}

.team-wrap .team-member {
  background: #fff;
  margin-bottom: 30px;
}

.team-wrap .team-member img {
  width: 100%;
}

.team-wrap .team-member .member-info {
  padding: 40px 30px 35px;
}

.team-wrap .team-member.member-lead .member-info h3 {
  font-size: 24px;
  line-height: 36px;
}

.team-wrap .team-member .member-info h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.team-wrap .team-member .member-info span {
  color: #b8b8b8;
}

.team-wrap .team-member .member-info p {
  margin: 20px 0 35px;
}

.team-wrap .team-member .member-info .social-links {
  margin-top: 15px;
}

.member-info .social-links li a .fa {
  background: #c5c5c5;
  color: #fff;
}

/*--------------------------------------------------------------------
SERVICE PAGES
--------------------------------------------------------------------- */

.service-intro-wrap {
  background: #fff;
}

.service-intro-content {
  line-height: 30px;
}

.service-intro-content h2,
.service-intro-content p {
  margin-bottom: 40px;
}

.service-intro-content ul li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 20px;
}

.service-intro-content ul li:last-child {
  margin-bottom: 0;
}

.service-intro-content ul li:before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
  color: #b2b2b2;
}

.featured-service-wrap .section-heading {
  margin-bottom: 75px;
}

.featured-service-wrap .featured-service-content {
  background: #fff;
  padding: 40px 30px;
}

.featured-service-wrap .featured-service-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.featured-service-wrap .featured-service-content .btn-primary {
  margin-top: 30px;
}

.featured-service-wrap img {
  width: 100%;
}

/*Single-service*/

.single-service-wrap {
  padding: 110px 0 150px;
  background: #fff;
}

.single-service-wrap .single-service-thumb {
  margin-bottom: 50px;
}

.single-service-wrap .single-service-thumb img {
  width: 100%;
}

.single-service-content h2 {
  margin-bottom: 20px;
}

.single-service-content h3 {
  margin-bottom: 30px;
}

.widget .download-wrap {
  position: relative;
  margin-bottom: 10px;
}

.widget .download-wrap a {
  position: relative;
  display: block;
  background-color: #e9e9e9;
  padding: 12px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.widget .download-wrap a:hover {
  background: #666!important;
}

.widget .download-wrap.company a {
  background: #4d62e3;
}

.widget .download-wrap.annual a {
  background: #f7941d;
}

.widget .download-wrap.brochure a {
  background: #7cc576;
}

.widget .download-wrap a span {
  display: block;
  font-weight: normal;
  font-size: 10px;
}

.widget .download-wrap a i {
  position: absolute;
  top: 15%;
  right: 8px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: rgba(255,255,255,0.4);
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 100%;
}

.widget .service-list li.active a {
  color: #ae275f;
}

.widget-service-add {
  background: url(../img/service-add.png)no-repeat;
  background-size: cover;
  padding: 40px 25px;
  color: #fff;
  border-radius: 5px;
}

.widget-service-add p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.widget-service-add a {
  font-size: 18px;
  color: #ffb65e;
  font-weight: 900;
  margin: 20px 0 40px;
  display: inline-block;
  border-bottom: 2px solid;
}

.widget-service-add img {
  opacity: 0.3;
}


/*full-screen-video*/

.fullscreen-video .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding: 122px 0;
}

.fullscreen-video .video-overlay h2 {
  text-transform: uppercase;
  color: #fff;
}


/*--------------------------------------------------------------------
CONTACT PAGE
--------------------------------------------------------------------- */

#googleMap {
  height: 450px;
}

.office-locations {
  margin: 100px 0 40px;
}

.office-locations .office-address {
  margin-bottom: 85px;
}

.office-locations h2,
.office-locations h3,
.send-feedback h2 {
  text-transform: uppercase;
}

.office-locations h2,
.send-feedback h2 {
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 21px;
}

.office-locations h3 {
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 18px;
}

.office-locations address span {
  display: block;
}