/*----------------------------------
Template Name: Unship
Description: HTML5 / CSS3 Multi Page
Version: 1.0
*Author: uiCookies.
------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  background: #f8f7f7;
  color: #62646c;
  -webkit-font-smoothing: antialiased !important;
}


/* ------------------------------------------------
TYPOGRAPHY
--------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  color: #343434;
  font-family: Comic Sans MS;
  font-style:italic;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 44px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

P {
  margin: 0;
}

/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: #62646c;
  text-decoration: none;
}


/* --------------------------------------------------
GENERAL
----------------------------------------------------- */
.img1 {
  max-width: 50%;
  float:left;
  border-radius:50%;
}

hr {
  border-top: 1px solid #d7e2e8;
}

/*global margin/padding classes*/

.separetor {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d7e2e8;
}

address {
  line-height: 24px;
}

.page-header {
  padding-bottom: 0;
  margin: 40px 0 0;
  border-bottom: 0;
}

.mark {
  color: #ae275f;
  background: transparent;
  padding: 0;
}

.dropcap {
  display: inline-block;
  float: left;
  font-size: 48px;
  padding: 0 10px 0 0;
  line-height: 50px;
  color: #62646c;
}

/* ----------------------------------------------------------------
Breadcrumb
-------------------------------------------------------------------*/
.breadcrumb {
  padding: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}

.breadcrumb a,
.breadcrumb>.active {
  color: #fff;
}

.breadcrumb a:hover {
  color: #ae275f;
  text-decoration: none;
}

.breadcrumb.separator-arrow>li+li:before {
  padding: 0 8px;
  font-family: "FontAwesome";
  content: '\f105';
}

/* ----------------------------------------------------------------
Pagination
-------------------------------------------------------------------*/
.pagination>li>a, 
.pagination>li>span {
  color: #ae275f;
}

.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
  color: #fff;
  background-color: #ae275f;
  border-color: #ae275f;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background-color: #ae275f;
  border-color: #ae275f;
}

/*borderless pagination*/

.pagination.borderless>li>a, 
.pagination.borderless>li>span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-color: transparent;
  margin: 0 1px;
}

/*pager*/

.pager li>a:hover, 
.pager li>a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #ae275f;
  border-color: transparent;
}

.pager .disabled>a, 
.pager .disabled>a:hover, 
.pager .disabled>a:focus, 
.pager .disabled>span {
  border-color: #ddd;
}

/* ----------------------------------------------------------------
Bootstrap Modal
-------------------------------------------------------------------*/
.modal-open {
  padding-right: 0 !important;
}

.modal-content {
  border-radius: 0;
  background: #f8f7f7;
  padding: 30px;
  border: 0;
}

.modal-body {
  padding: 0;
  margin-top: 30px;
}

.modal-header {
  position: relative;
  padding: 0;
  border: 0;
}

.modal-header .modal-title {
  font-size: 20px;
  padding: 0;
}

.modal-header .close {
  position: absolute;
  top: -30px;
  right: -30px;
  margin: 0;
  background: #787B7E;
  padding: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  text-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.modal-header .close:hover {
  background: #ae275f;
}

label {
  font-weight: 500;
  color: #62646c;
  font-size: 14px;
  line-height: 18px;
}

.modal-content .form-group {
  margin-bottom: 20px;
}
.modal-content .btn-primary {
  background: #ae275f;
  color: #fff;
}

.modal-content .btn-primary:hover{
  background: #fff;
  color: #333;
}

/* ------------------------------------------------------------------
GLOBAL BUTTON STYLE
--------------------------------------------------------------------- */
/*common style for all btn*/

button:focus {
  outline: none !important;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 44px;
  border-radius: 30px;
  font-weight: 300;
}


/*btn-primary*/
.btn-primary {
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  padding: 3px 18px;
  background: #ae275f;
  
  border: 0;
  text-transform: uppercase;
  border-radius: 30px;
  line-height: 25px;
}

.btn-primary i {
  margin-left: 5px;
}

.btn-primary:hover, 
.active.btn-primary, 
.btn-primary:focus {
  background-color: #343434;
  border-color: transparent;
  color: #fff;
}

.btn:focus, 
.btn:active:focus {
  outline: none;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-lg {
  padding: 18px 50px !important;
  font-size: 14px!important;
  background: #fff;
  color: #343434;
}

.btn-lg:hover {
  background: #ae275f;
  color: #fff;
}

.form-group button[type="submit"] {
  padding: 15px 40px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.btn,
button,
.btn-primary span i {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

/* --------------------------------------------------
LIST STYLE
----------------------------------------------------- */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
    font-family: 'LindenHill';
    src: url('../fonts/linden-hill/LindenHill.otf') format('opentype');
}
@font-face {
    font-family: 'LindenHill-Italic';
    src: url('../fonts/linden-hill/LindenHill-Italic.otf') format('opentype');
}
/*List check-square*/
ul.check-square li {
  display: list-item;
  position: relative;
  line-height: 36px;
  padding-left: 25px;
}

ul.check-square li::before {
  content: "\f14a";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ae275f;
}

/*List check-square-o*/
ul.check-square-o li {
  display: list-item;
  position: relative;
  line-height: 36px;
  padding-left: 25px;
}

ul.check-square-o li::before {
  content: "\f046";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ae275f;
}

/*List check*/
ul.check li {
  display: list-item;
  position: relative;
  line-height: 36px;
  padding-left: 25px;
}

ul.check li::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ae275f;
}

/*List check-circle*/
ul.check-circle li {
  display: list-item;
  position: relative;
  line-height: 36px;
  padding-left: 25px;
}

ul.check-circle li::before {
  content: "\f058";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ae275f;
}

.sticky-container {
  width: 100%;
}

/* ----------------------------------------------------------------
Form Style
-------------------------------------------------------------------*/
.form-group {
  margin-bottom: 50px;
}

.form-group.submit-btn {
  margin-bottom: 0;
}

.form-control {
  position: relative;
  border: 0;
  border-radius: 3px;
  height: 45px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.form-control:focus {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

textarea.form-control {
  height: 250px;
}


/* --------------------------------------------------
List-group-item
----------------------------------------------------- */
a.list-group-item {
  color: #7b8a97;
}

.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus {
  background-color: #ae275f;
  border-color: #ae275f;
}

/* --------------------------------------------------
GLOBAL SECTION STYLES
----------------------------------------------------- */
section {
  position: relative;
}

.section-padding {
  padding: 75px 0;
}

.page-title-section {
  text-align: center;
  padding: 50px 0 15px;
    background: #ae275f;
}

.page-title-section:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #f8f7f7;
  margin-left: -20px;
}

.page-title-section.white-arrow:after {
  border-bottom: 18px solid #fff;
}

.page-title-section .page-header {
  margin: 0 0 10px;
}

.page-title-section .page-header h1 {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

/*--------------------------- 
          TOP BAR
-----------------------------*/
.header {
    background: #fff;
}

/*top-bar*/
.top-bar {
  padding: 10px 0;
}

.top-bar .social-links i {
  width: 25px;
  height: 25px;
  line-height: 25px;
    font-size: 10px;
}


/*call-to-action*/

.call-to-action {
  padding: 15px 0;
}

.call-to-action ul li {
  margin-right: 10px;
}

.call-to-action ul li a {
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.call-to-action ul li a:hover {
  color: #ae275f;
  text-decoration: none;
}

.call-to-action i {
  margin-right: 5px;
}

/*login-register*/

.login-register li {
  position: relative;
}

.login-register li:first-child:after {
  position: absolute;
  right: -5px;
  content: "/";
}

.login-register li:last-child:after {
  content: "\f090";
  font-family: FontAwesome;
  margin-left: 5px;
}

.login-register li,
.login-register li a {
  color: #fff;
  font-weight: 500;
}

.login-register li a {
  font-size: 12px;
}

.login-register li a:hover {
  color: #ae275f;
}

.topbar-right {
  padding: 15px 0;
}

/*social-links*/
.social-links {
}

.social-links li {
  padding-right: 2px;
  padding-left: 2px;
}

.social-links li a {
  display: inline-block;
}

.social-links li a i {
  color: #000;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #f7f7f7;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.social-links li a:hover i {
  color: #fff;
}

.social-links li a:hover i.fa-facebook {
  background: #3a5795;
}

.social-links li a:hover i.fa-twitter {
  background: #2b7bb9;
}

.social-links li a:hover i.fa-instagram {
  background: #517fa4;
}

.social-links li a:hover i.fa-tumblr {
  background: #529ecc;
}

.social-links li a:hover i.fa-dribbble {
  background: #ea4c89;
}

.social-links li a:hover i.fa-google-plus {
  background: #da4835;
}

.social-links li a:hover i.fa-linkedin {
  background: #287bbc;
}

/*language-support*/
.lang-support {
  margin-left: 20px;
}

/*Logo*/
.logo h1 span {
  display: none;
}

/*login-register modal*/

.login-register .modal-dialog {
  margin: 10% auto;
}

#cssModal .modal-sm,
#cssRegi .modal-sm {
  width: 350px;
}

#cssModal .css-modal-content,
#cssRegi .css-modal-content {
  padding: 40px;
}

#cssModal .css-modal-content .close,
#cssRegi .css-modal-content .close {
  position: absolute;
  right: 15px;
  top: 10px;
}

#cssModal .css-modal-content h2,
#cssRegi .css-modal-content h2 {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
}

#cssModal .css-modal-content .css-note p,
#cssRegi .css-modal-content .css-note p {
  font-size: 12px;
}

.asterisk {
  color: red;
}

#css_ul {
  margin-top: 10px;
}


/* ------------------------------------------------------------------
POPUP FEATURE
--------------------------------------------------------------------- */
.popup-feature {
  position: relative;
  overflow: hidden;
}

.popup-feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(101, 211, 227, 0.8);
  display: inline-block;
  opacity: 0;
}

.popup-feature:hover::before {
  opacity: 1;
}

.more-link a.img-link,
.more-link a.page-link {
  position: absolute;
  top: 0;
  opacity: 0;
}

.more-link a.img-link {
  left: 0;
}

.more-link a.page-link {
  right: 0;
}

.popup-feature:hover .more-link a.img-link,
.popup-feature:hover .more-link a.page-link {
  top: 50%;
  margin-top: -20px;
  opacity: 1;
}

.popup-feature:hover .more-link a.img-link {
  left: 50%;
  margin-left: -50px;
}

.popup-feature:hover .more-link a.page-link {
  right: 50%;
  margin-right: -50px;
}

.more-link a {
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  border: 2px solid rgba(255,255,255,.3);
  color: #fff;
  border-radius: 10px;
}

.more-link a:hover {
  background-color: #fff;
  color: #65d3e3;
}

.popup-feature::before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* ------------------------------------------------------------------
FOOTER WIDGET SECTION
--------------------------------------------------------------------- */
.footer-widget-section {
  background-color:#0e1013;
  background-size: cover;

  color: white;
}

.footer-widget {
  line-height: 15px;
}

.footer-widget h3 {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}

.footer-widget-section address span {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.footer-widget-section address strong {
  color: #fff;
  font-size: 18px;
}

.footer-widget ul.quick-links li {
  position: relative;
  line-height: 32px;
  padding-left: 10px;
}

.footer-widget ul.quick-links li:before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
}

.footer-widget ul li a {
  color: #7b8a97;
}

.footer-widget ul li a:hover {
  color: #ae275f;
  text-decoration: none;
}

form.newsletter-form .form-group {
  margin: 26px 0 0;
  position: relative;
  font-style: italic;
}

form.newsletter-form .form-group .form-control {
  border: 0;
  border-bottom: 0;
  border-radius: 5px;
  background: #000;
}

form.newsletter-form .form-group .form-control:focus {
  border-color: #ae275f;
}

form.newsletter-form .form-group button {
  position: absolute;
  top: 6px;
  right: 5px;
  border: 0;
  border-radius: 3px;
  line-height: 18px;
  color: #fff;
  padding: 8px 16px !important;
  background: #ae275f;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px!important;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

form.newsletter-form .form-group button:hover {
  background: #fff;
  color: #ae275f;
}

/*footer social links*/

.footer-widget .social-links {
  margin: 20px 0 0;
}

.footer-widget .social-links li {
  margin-right: 30px;
  padding: 0;
}

.footer-widget .social-links li:last-child {
  margin-right: 0;
}

.footer-widget .social-links li a i {
  color: #7b8a97;
  font-size: 14px;
  width: auto;
  height: auto;
}

.footer-widget .social-links li a i,
.footer-widget .social-links li a:hover i {
  background: transparent;
}

.footer-widget .social-links li a:hover i {
  color: #ae275f;
}



/* ------------------------------------------------------------------
COPYRIGHT SECTION
--------------------------------------------------------------------- */
.copyright-section {
  background-color:	 #7d1c44;
  padding: 100px 0;
  margin-top:20%;
}

.footer-menu {
}

.footer-menu li {
  line-height: 32px;
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

.footer-menu li::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  right: 10px;
  top: 45%;
  border-radius: 50%;
  background: #666;
  opacity: 0.6;
}

.footer-menu li:last-child::after {
  display: none;
}

.footer-menu li a {
  color: #727e89;
}

.footer-menu li a:hover {
  color: #ae275f;
  text-decoration: none;
}

.copyright-info {
  margin-top: 10px;
  line-height: 28px;
}

.copyright-info span {
  color: #727e89;
}



/* ------------------------------------------------------------------
BACK TO TOP
--------------------------------------------------------------------- */
#toTop {
  position: fixed;
  bottom: 60px;
  right: 30px;
  color: #9e9e9e;
  cursor: pointer;
  display: none;
  z-index: 9999;
  width: 49px;
  height: 49px;
  
  text-align: center;
  font-size: 18px;
  line-height: 49px;
  background: #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#toTop:hover {
  color: #fff;
  background-color: #ae275f;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}



/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status,
.status-mes {
  background-image: url(../img/preloder.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.status-mes {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
}


/* ----------------------------------------------------------------
BOOTSTRAP CAROUSEL CONTROL
-------------------------------------------------------------------*/

.carousel-control {
  right: 65px;
  left: auto;
  z-index: 2;
  background: none!important;
  box-shadow: none;
  text-shadow: none;
}

.slider-control {
  position: absolute;
  top: 0;
  right: 0;
}

.slider-control .left,
.slider-control .right {
  width: 65px;
  height: 75px;
  background: #f6f6f6!important;
  background-image: none!important;
  color: #c2c2c2;
  display: inline-block;
  line-height: 75px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.slider-control .left:hover,
.slider-control .right:hover {
  background: #272b31!important;
  color: #fff;
}

.slider-control i:before,
.slider-control span:before {
  font-size: 30px;
}



/* ----------------------------------------------------------------
WIDGETS
-------------------------------------------------------------------*/


.widget {
  margin-bottom: 45px;
}

h2.widget-title {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.widget ul.widget-arrow-list li {
  position: relative;
  padding-left: 15px;
}

.widget ul.widget-arrow-list li a {
  display: inline-block;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 10px;
  padding: 0 0 5px;
  color: #252323;
}

.widget ul.widget-arrow-list li a:hover {
  color: #ae275f;
}

.widget ul.widget-arrow-list li:last-child a {
  margin-bottom: 0;
}

.widget ul.widget-arrow-list li:before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
  color: #b2b2b2;
}


/* ----------------------------------------------------------------
EQUAL HEIGHTS
-------------------------------------------------------------------*/

.row-flex, 
.row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -flex;
  flex: 1 1 auto;
}

.row-flex > div[class*='col-'] {
  -ms-flex: 1 1 auto;
  -ms-flex-direction: column;

}

