﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Unicorn</title>
    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,700,700italic,900,900italic,500italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Flaticon CSS -->
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="~/css/off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
   <link href="~/css/animate.css" rel="stylesheet" />
    <!-- language CSS -->
    <link href="~/css/language-select.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="~/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
    <!-- magnific-popup -->
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Core Styles -->
    <link href="~/css/template.css" rel="stylesheet">
    <!-- Main Menu Styles -->
    <link href="~/css/menu.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src="~/js/vendor/modernizr-2.8.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top" style="background-color:white">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <header class="header">
                    <nav class="top-bar">
                        <div class="container">
                            <div class="row">

                                <div class="col-sm-4 col-xs-12">
                                    <div class="logo text-center">
                                        <h1><a href="#"><img src="~/img/unicorn.png" class="img1" alt="Unicorn"></a><span>Unicorn</span></h1>
                                    </div>
                                </div>
                                <div>
                                   
                                    <h2 style="color:#ae275f;font-family:LindenHill-Italic;margin: 0 0 0px 35%;">Unicorn Banking</h2>
                                    
                                    <h5 style="color:#ae275f; text-align:right; font-family: Arial, Helvetica, sans-serif;font-size: 15px;"><label class="fa fa-user-circle" style="text-align:right"></label>Welcome @Session["Username"]</h5>
                                </div>
                              
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse navbar-collapse">
                                @try
                                {
                                    if (Session["RoleId"].ToString() == "1")
                                    {
                                        <ul class="nav navbar-nav hidden-sm" style="align-content:center;background-color:#ae275f">
                                            <li class="active"><a href="http://localhost:54827/CustomerDetails/HomePage">Home</a></li>

                                            <!-- Services -->
                                            <li class="dropdown">
                                                <a href="#">Customer Management <b class="caret"></b></a>
                                                <!-- submenu-wrapper -->
                                                <div class="submenu-wrapper submenu-wrapper-topbottom">
                                                    <div class="submenu-inner  submenu-inner-topbottom">
                                                        <ul class="dropdown-menu">
                                                            <li><a href="http://localhost:54827/CustomerDetails/AddCustomer">Add Customer</a></li>
                                                            <li><a href="http://localhost:54827/CustomerDetails/ListCustomer">View Customer</a></li>
                                                            <li><a href="http://localhost:54827/CustomerDetails/SearchListCustomer">Search Customer</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- /submenu-wrapper -->
                                            </li>
                                            <!-- /Services -->
                                            <li class="dropdown">
                                                <a href="#">Account Management <b class="caret"></b></a>
                                                <!-- submenu-wrapper -->
                                                <div class="submenu-wrapper submenu-wrapper-topbottom">
                                                    <div class="submenu-inner  submenu-inner-topbottom">
                                                        <ul class="dropdown-menu">
                                                            <li><a href="http://localhost:54827/Account/AddCustomerAccount">Add Account</a></li>
                                                            <li><a href="http://localhost:54827/Account/ViewCustomerAccount">View Account</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- /submenu-wrapper -->
                                            </li>
                                            <!-- /submenu-wrapper -->
                                            <li><a href="http://localhost:54827/Login/Logout">Logout</a></li>

                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="nav navbar-nav hidden-sm" style="align-content:center;background-color:#ae275f">
                                            <li class="active"><a href="http://localhost:54827/Account/HomePage">Home</a></li>
                                            <li><a href="http://localhost:54827/Account/SearchAccount">Search Account</a></li>
                                            <li><a href="http://localhost:54827/AccountOperations/Transacttable">View Transactions</a></li>
                                            <li class="dropdown">
                                                <a href="#">Mini Statement <b class="caret"></b></a>
                                                <!-- submenu-wrapper -->
                                                <div class="submenu-wrapper submenu-wrapper-topbottom">
                                                    <div class="submenu-inner  submenu-inner-topbottom">
                                                        <ul class="dropdown-menu">
                                                            <li><a href="http://localhost:54827/AccountOperations/ViewDurationTransaction">View Months Statement</a></li>
                                                            <li><a href="http://localhost:54827/AccountOperations/ViewRecentTransactions">View Recent Trasactions</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- /submenu-wrapper -->
                                            </li>
                                         
                                            <li><a href="http://localhost:54827/Login/Logout">Logout</a></li>

                                        </ul>
                                    }
                                }
                                catch (Exception)
                                {

                                     Response.Redirect("http://localhost:54827/ExceptionHandler/SessionException");
                                }
                               
                                    
                                </div><!-- /.navbar-collapse -->

                            </div><!-- /.social-links -->
                        </div><!-- /.col-sm-6 -->
                    </nav><!-- /.top-bar -->
                </header>
            </div><!-- /.row -->

        </div><!-- /st-pusher-->
        <div class="container">
            @RenderBody()
        </div>
        <!-- footer-widget-section start -->
        <section class="footer-widget-section">
                               <!-- copyright-section start -->
                    <footer class="copyright-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h3 style="font-weight:bold; font-size:25px; font-family:'Times New Roman'">AboutUs</h3>
                                        <p>
                                            Unicorn Bank offers a wide range of banking 
                                            and financial services to corporate
                                         
                                            and retail customers through a variety of delivery channels
                                             and through its group companies. 

                                        </p>

                                    </div><!-- /.footer-widget -->
                                </div><!-- /.col-sm-4 -->

                                <div class="col-sm-6">
                                    <div class="footer-widget">
                                        <h3 style=" font-weight:bold; font-size:25px; font-family:'Times New Roman';">Contact</h3>
                                        <p>
                                     Call: +134-226-8415
                                            </p>
                                        <br/>
                                        <p>
                                      Email: Customer@unicorn.com

                                        </p>
                                    </div>
                            </div>
                                </div>
                            </div>
</footer>

             
           
        </section><!-- /.cta-section -->
        <!-- footer-widget-section end -->
       
        <!-- copyright-section end -->
    </div> <!-- .st-content -->

  
    @*<script src="~/js/jquery.js"></script>*@
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- owl.carousel -->
    <script src="~/owl.carousel/owl.carousel.min.js"></script>
    <!-- Magnific-popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Offcanvas Menu -->
    <script src="~/js/hippo-offcanvas.js"></script>
    <!-- stellar -->
    <script src="~/js/jquery.stellar.js"></script>
    <!-- classie -->
    <script src="~/js/classie.js"></script>
    <!-- sticky kit -->
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <!-- language select -->
    <script src="~/js/selectFx.js"></script>
    <!-- Twitter feed -->
    <script src="~/js/twitterFetcher_min.js"></script>
    <!-- Youtube Video-player -->
    <script src="~/js/jquery.mb.YTPlayer.js"></script>
    <!-- Custom Script -->
    @*<script src="~/js/scripts.js"></script>*@

 
</body>
</html>
